# New Section

In [2]:
i =1
while i<=5:
  print(i)
  i +=1

  print("loop ended")

1
loop ended
2
loop ended
3
loop ended
4
loop ended
5
loop ended

In [3]:
i = 5
while i>=1:
  print(i)
  i-=1
  print("ended")

5
ended
4
ended
3
ended
2
ended
1
ended

In [4]:
i = 1
while i <= 100:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
i = 100
while i >= 1:
  print(i)
  i -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# print the multiplication number table of a number n.

In [6]:
i = 1
while i<= 10:
  print(4*i)
  i += 1

4
8
12
16
20
24
28
32
36
40

In [8]:
n = int(input("enter number : " ))
i = 1
while i <= 10:
  print(n*i)
  i += 1

enter number : 50
50
100
150
200
250
300
350
400
450
500

In [12]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
idx = 0
while  idx < (len(nums)):
  print(nums[idx])
  idx += 1

1
4
9
16
25
36
49
64
81
100

In [17]:
heroes = ["ironman", "thor", "batman"]
i = 0
while i < len(heroes):
  print(heroes[i])
  i += 1

ironman
thor
batman

In [ ]:
# Search for a number x in this tuple using loop:
(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [18]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
i = 0
while i < len(nums):
  print(nums[i])
  i +=1

1
4
9
16
25
36
49
64
81
100

In [27]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36
i = 0
while i < len(nums):
  if(nums[i] == x):
    print("found", i)
  i += 1

found 5

In [29]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36
i = 0
while i < len(nums):
  if(nums[i] == x):
    print("found", i)
  else:
    print("Finding")
  i += 1

Finding
Finding
Finding
Finding
Finding
found 5
Finding
Finding
Finding
Finding

In [30]:
i = 1
while i <= 10:
  print(i)
  if(i == 5):
    break
  i += 1
print("ended")

1
2
3
4
5
ended

In [31]:
nums = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x = 36
i = 0
while i < len(nums):
  if(nums[i] == x):
    print("found", i)
    break
  else:
    print("Finding")
  i += 1
print("end of loop")

Finding
Finding
Finding
Finding
Finding
found 5
end of loop

In [35]:
i = 0
while i <= 10:
  i += 1
  if(i %2 != 0):
    continue
  print(i)
  i += 1

2
4
6
8
10

In [ ]:
# for loops

In [36]:
list = [1, 2, 3, 4 , 5]
for val in list:
  print(val)

1
2
3
4
5

In [37]:
tuple = (1, 2, 3, 4, 5, 6, 7)
for num in tuple:
  print(num)

1
2
3
4
5
6
7

In [39]:
str = ("ApnaSchl")
for name in str:
  print(name)
else:
  print("ended")

A
p
n
a
S
c
h
l
ended

In [40]:
str = ("ApnaSchl")
for name in str:
  if(name == "l"):
    break
  print(name)
else:
  print("ended")

A
p
n
a
S
c
h

In [41]:
nums =[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for el in nums:
  print(el)

1
4
9
16
25
36
49
64
81
100

In [44]:
nums =[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 49]
x = 49
idx = 0
for el in nums:
  if (el == x):
    print("number found at idx", idx)
    break
  idx += 1

number found at idx 6